{% extends 'base.html.twig' %}

{% block title %}New voitures{% endblock %}

{% form_theme formVoiture 'bootstrap_5_layout.html.twig' %}

{% block body %}

    {% if isCreate %}
        <h1>Form Create</h1>
    {% else %}
        <h1>Form Edit</h1>
    {% endif %}

    {{ form_start(formVoiture) }}

        {{ form_row(formVoiture.name) }}

        {{ form_row(formVoiture.brand) }}

        {{ form_row(formVoiture.price) }}

        {% if isCreate %}
            <input class="btn btn-success" type="submit" value="Créer">
        {% else %}
            <input class="btn btn-success" type="submit" value="Edit">
        {% endif %}

    {{ form_end(formVoiture) }}

    <hr><a href="{{ path('indexVoiture') }}" class="btn btn-primary">Retour</a>

{% endblock %}
